<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paddler Dashboard</title>

    {{ "resources/css/page-admin-panel.css"|asset(preloads) }}
    {{ "resources/ts/controller_dashboard.tsx"|asset(preloads) }}

    {{ preloads|render_assets|safe }}
</head>
<body>
    <div
        id="paddler-dashboard"

        data-buffered-request-timeout-millis="{{ template_data.buffered_request_timeout.as_millis() }}"
        {% if let Some(compat_openai_addr) = template_data.compat_openai_addr %}
        data-compat-openai-addr="{{ compat_openai_addr.input_addr }}"
        {% endif %}
        {% if let Some(compat_typesafe_addr) = template_data.compat_typesafe_addr %}
        data-compat-typesafe-addr="{{ compat_typesafe_addr.input_addr }}"
        {% endif %}
        data-inference-addr="{{ template_data.inference_addr.input_addr }}"
        data-management-addr="{{ template_data.management_addr.input_addr }}"
        data-max-buffered-requests="{{ template_data.max_buffered_requests }}"
        {% if let Some(statsd_service_configuration) = template_data.statsd_service_configuration %}
        data-statsd-addr="{{ statsd_service_configuration.statsd_addr.input_addr }}"
        data-statsd-prefix="{{ template_data.statsd_prefix }}"
        data-statsd-reporting-interval-millis="{{ statsd_service_configuration.statsd_reporting_interval.as_millis() }}"
        {% endif %}
    ></div>
</body>
</html>
