.notificationCount {
  align-items: center;
  border-radius: 50%;
  color: white;
  display: inline-flex;
  font-size: 11px;
  height: 16px;
  justify-content: center;
  width: 16px;
}

.notificationCount___error {
  composes: notificationCount;

  background-color: crimson;
}

.notificationCount___warning {
  composes: notificationCount;

  background-color: black;
  color: white;
}
