@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.promptPage {
  animation: fadeIn 200ms ease-in-out;
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  max-width: var(--max-width-workbench-content);
  width: 100%;
  overflow-anchor: none;
}

.promptPage__promptForm {
  background-image: linear-gradient(
    to bottom,
    transparent 20%,
    var(--color-body-background) 20%
  );
  bottom: 0;
  left: 20%;
  right: 20%;
  max-width: var(--max-width-workbench-content);
  padding: 0 var(--spacing-base) var(--spacing-base) var(--spacing-base);
  position: fixed;
}

.promptPage__messages {
  overflow-y: auto;
  padding: var(--spacing-base);
  padding-bottom: 6rem;
  width: 80%;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  margin-bottom: 5%;
}
